Source: pynmsg
Section: python
Priority: optional
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends:
 python3-all-dev (>= 3.5~),
 debhelper (>= 10~),
 dh-python,
 python3-setuptools,
 cython3,
 libnmsg-dev (>= 1.0.0~),
 pkg-config,
Standards-Version: 3.9.8

Package: python-nmsg
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: network message encapsulation library (Python bindings)
 This package contains the libnmsg Python extension module.

Package: python3-nmsg
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: network message encapsulation library (Python3 bindings)
 This package contains the libnmsg Python3 extension module.
